# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
node_modules/
dist/
build/
*.egg-info/

# Logs
*.log

# AWS
.aws/

# Kubernetes
kubeconfig
*.kubeconfig

# Pessoal

DESCRICAO_PROJETO.md
INSTRUCOES_DIAGRAMA.md
INSTRUCOES_GIT.md